<header class="header text-white h-fullscreen overflow-hidden" style="background-image: linear-gradient(0deg, #cc3366 15%, #042843 80%);min-height:100vh;">
    <canvas class="constellation" data-radius="0"></canvas>
    <div class="container position-static">
        <div class="row align-items-center h-100">

            <div class="col-lg-8 mt-9">
                <h1 class="fw-500">What We Do:<span class="fw-400 pl-2" data-typing="Web Design, Web Application, Digital Marketing, Social Media Management, Promotional Film, Product Photography, Customer Tracking" data-type-speed="80"></span></h1>
                <p class="lead mt-5 mb-7 mb-md-7 w-80"><strong>Luminerds</strong> aims to increase your brand value and help you acquire new customers with its integrated services!</p>
                <a class="btn btn-xl btn-label btn-round btn-danger w-200 mr-3 px-6 d-none d-md-inline-block" href="tel:+905454611289">
                    <label><i class="fa fa-phone" style="margin-top:10px"></i></label>Call Now</a>
                <a class="btn btn-xl btn-round btn-outline-light w-200 px-6" href="#started">Discover</a>
            </div>

            <div class="col-lg-4 d-none d-lg-block">
            </div>

        </div>

        <div class="d-none d-lg-block sample-blocks">
            <a href="http://akademitakibi.com" target="_blank">
                <img class="shadow-6" src="assets/img/preview/block-1.jpg" alt="Academy Tracking" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">
            </a>

            <a href="http://deltamarine.com.tr" target="_blank">
                <img class="shadow-6" src="assets/img/preview/block-2.jpg" alt="Delta Maritime and Computer" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">
            </a>

            <a href="#http://mesh.com.tr/mesh/" target="_blank">
                <img class="shadow-6" src="assets/img/preview/block-3.jpg" alt="Mesh Engineering and Software Inc." data-aos="fade-up" data-aos-delay="400" data-aos-offset="0">
            </a>

            <a href="http://karakalem.com.tr" target="_blank">
                <img class="shadow-6" src="assets/img/preview/block-4.jpg" alt="Karakalem Facade Design" data-aos="fade-up" data-aos-delay="600" data-aos-offset="0">
            </a>

            <a href="http://donusumpatent.com.tr" target="_blank">
                <img class="shadow-6" src="assets/img/preview/block-5.jpg" alt="Transformation Patent" data-aos="fade-up" data-aos-delay="800" data-aos-offset="0">
            </a>

            <a href="#http://fiestetik.com.tr" target="_blank">
                <img class="shadow-6" src="assets/img/preview/block-6.jpg" alt="Fi Aesthetics" data-aos="fade-up" data-aos-delay="1000" data-aos-offset="0">
            </a>

            <a href="http://seventheta.com" target="_blank">
                <img class="shadow-6" src="assets/img/preview/block-7.jpg" alt="SevenTheta Healing" data-aos="fade-up" data-aos-delay="1200" data-aos-offset="0">
            </a>

            <a href="http://modestyclinic.com" target="_blank">
                <img class="shadow-6" src="assets/img/preview/block-8.jpg" alt="Modesty Beauty Salon" data-aos="fade-up" data-aos-delay="1400" data-aos-offset="0">
            </a>

            <a href="http://lintekstil.com" target="_blank">
                <img class="shadow-6" src="assets/img/preview/block-9.jpg" alt="Lin Textile" data-aos="fade-up" data-aos-delay="1700" data-aos-offset="0">
            </a>
        </div>

    </div>
</header>