<nav class="navbar navbar-expand-lg navbar-light navbar-stick-dark" data-navbar="sticky">
      <div class="container">

        <div>
          <button class="navbar-toggler" type="button">&#9776;</button>
          <a class="navbar-brand" href="index.php">
            <img class="logo-dark" src="assets/img/logo-dark.png" alt="logo">
            <img class="logo-light" src="assets/img/logo-light.png" alt="logo">
          </a>
        </div>

        <section class="navbar-mobile" style="padding-top: 20px;">
          <span class="navbar-divider d-mobile-none"></span>

          <ul class="nav nav-navbar">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Web Application <span class="arrow"></span></a>
              <nav class="nav">
                <a class="nav-link" href="#">Dynamic Web Page</a>
                <a class="nav-link" href="#">Admin Panel</a>
                <a class="nav-link" href="#">Customer Tracking</a>
                <a class="nav-link" href="#">Social Media Tracking</a>
                <div class="nav-divider"></div>
                <a class="nav-link" href="#">WordPress Installation</a>
                <div class="nav-divider"></div>
                <a class="nav-link" href="#">E-commerce Package</a>
                <div class="nav-divider"></div>
                <a class="nav-link" href="http://akademitakibi.com" target="_blank">Goweb Academy</a>
                <a class="nav-link" href="http://estetikprogram.com" target="_blank">Goweb Clinic</a>
              </nav>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Mobile Application</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Digital Marketing <span class="arrow"></span></a>
              <nav class="nav">
                <a class="nav-link" href="#">SEO</a>
                <a class="nav-link" href="#">AdSense</a>
                <a class="nav-link" href="#">Business Manager</a>
              </nav>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Promotions <span class="arrow"></span></a>
              <nav class="nav">
                <a class="nav-link" href="#">Graphic Design</a>
                <a class="nav-link" href="#">Brochure &amp; Advertisement</a>
                <a class="nav-link" href="#">Business Card &amp; Logo</a>
                <a class="nav-link" href="#">Corporate Identity Elements</a>
                <div class="nav-divider"></div>
                <a class="nav-link" href="#">Promotional Videos</a>
                <a class="nav-link" href="#">Procedure Videos</a>
                <a class="nav-link" href="#">Commercial Videos</a>
                <a class="nav-link" href="#">Story &amp; Post Videos</a>

                <div class="nav-divider"></div>
                <li class="nav-item">
                  <a class="nav-link" href="#">Translation <span class="arrow"></span></a>
                  <nav class="nav">
                    <a class="nav-link" href="#">Arabic</a>
                    <a class="nav-link" href="#">English</a>
                    <a class="nav-link" href="#">French</a>
                  </nav>
                </li>
              </nav>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">TR <span class="arrow"></span></a>
              <nav class="nav">
                <a class="nav-link" href="#">EN</a>
                <a class="nav-link" href="#">AR</a>
                <a class="nav-link" href="#">FR</a>
              </nav>
            </li>
          </ul>
        </section>

        <!-- <a class="btn btn-label btn-round btn-light" href="tel:+905454611289"><label><i class="fa fa-phone"></i></label>Call Now</a> -->

      </div>
    </nav>